<footer class="footer">
	<small>
		<a href="http://www.gamescapades.com">gamescapades</a> :: a betterer site
	</small>

	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li>Nooows</li>
		</ul>
	</nav>

</footer>